In [2]:
print("Hello World"); print("Welcome to Python")

Hello World
Welcome to Python

In [1]:
a = 10
print(a, "bertipe", type(a))
b = 1.7
print(b, "bertipe", type(b))
c = 1+2j
print(c, " Bertipe bilangan kompleks? ", isinstance(1+2j,complex))

10 bertipe <class 'int'>
1.7 bertipe <class 'float'>
(1+2j)  Bertipe bilangan kompleks?  True

In [2]:
x=[0]*10005;              #inisialisasi array 0 sebanyak 10005; x[0]=0
x[1]=1;                   #x[1]=1

for j in range(2,10001):
    x[j]=x[j-1]+x[j-2]  # Fibonacci
print(x[10000])

33644764876431783266621612005107543310302148460680063906564769974680081442166662368155595513633734025582065332680836159373734790483865268263040892463056431887354544369559827491606602099884183933864652731300088830269235673613135117579297437854413752130520504347701602264758318906527890855154366159582987279682987510631200575428783453215515103870818298969791613127856265033195487140214287532698187962046936097879900350962302291026368131493195275630227837628441540360584402572114334961180023091208287046088923962328835461505776583271252546093591128203925285393434620904245248929403901706233888991085841065183173360437470737908552631764325733993712871937587746897479926305837065742830161637408969178426378624212835258112820516370298089332099905707920064367426202389783111470054074998459250360633560933883831923386783056136435351892133279732908133732642652633989763922723407882928177953580570993691049175470808931841056146322338217465637321248226383092103297701648054726243842374862411453093812206564914032751086643394517512161526545361333111314042436854805106765843493523836959653428071768775328348234345557366719731392746273629108210679280784718035329131176778924659089938635459327894523777674406192240337638674004021330343297496902028328145933418826817683893072003634795623117103101291953169794607632737589253530772552375943788434504067715555779056450443016640119462580972216729758615026968443146952034614932291105970676243268515992834709891284706740862008587135016260312071903172086094081298321581077282076353186624611278245537208532365305775956430072517744315051539600905168603220349163222640885248852433158051534849622434848299380905070483482449327453732624567755879089187190803662058009594743150052402532709746995318770724376825907419939632265984147498193609285223945039707165443156421328157688908058783183404917434556270520223564846495196112460268313970975069382648706613264507665074611512677522748621598642530711298441182622661057163515069260029861704945425047491378115154139941550671256271197133252763631939606902895650288268608362241082050562430701794976171121233066073310059947366875

In [3]:
c = 1+5j
print(c)

(1+5j)

In [15]:
a = [1, 2.2, 'python']
print(a);

[1, 2.2, 'python']

In [16]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

In [18]:
x = [1,2,3]
x[2]=4
x.append(5)
print(x)

[1, 2, 4, 5]

In [20]:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']
['kucing', 'rusa']

In [22]:
s = "Hello World!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
# s[5]="d" 		#ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable
print(s)

o
World
Hello World!

In [23]:
a = 5.5
print(a, "is of type", type(a))

5.5 is of type <class 'float'>

In [24]:
a=3; print(float(a))

3.0

In [28]:
nama = "Dicoding"
print("Halo, %s!" %nama)

Halo, Dicoding!

In [34]:
nilai = input('Masukkan angka : ')
print(nilai)

In [1]:
'    '.isspace()

True

In [5]:
while True:
    print('Masukkan nama Anda:')
    name = input()
    if name.isalpha():
        print("Halo", name)
        break
    print('Masukkan nama Anda dengan benar.')

Masukkan nama Anda:
Halo Dian

In [6]:
angka = 5
print (str(angka).zfill(5));
# Contoh 2: Penggunaan zfill 5 pada angka ratusan
angka = 300
print (str(angka).zfill(5));
# Contoh 3: Penggunaan zfill 5 pada angka desimal negatif (memiliki koma)
angka = -0.45
print (str(angka).zfill(5));
# Contoh 4: Penggunaan zfill 7 pada angka desimal negatif (memiliki koma)
angka = -0.45
print (str(angka).zfill(7));

00005
00300
-0.45
-000.45

In [7]:
contoh_list = [1, 3, 3, 5, 5, 5, 7, 7, 9]
print(contoh_list)
print(len(contoh_list))

contoh_set = set([1, 3, 3, 5, 5, 5, 7, 7, 9])
print(contoh_set)
print(len(contoh_set))

contoh_string = "Belajar Python"
print(contoh_string)
print(len(contoh_string))

[1, 3, 3, 5, 5, 5, 7, 7, 9]
9
{1, 3, 5, 7, 9}
5
Belajar Python
14

In [8]:
angka = [2, 4, 6, 8]
huruf = ['P', 'Y', 'T', 'H', 'O', 'N']
gabung = angka + huruf
print(gabung)

[2, 4, 6, 8, 'P', 'Y', 'T', 'H', 'O', 'N']

In [13]:
4**0.5

2.0

In [15]:
a = 6
b = 4
print("Hasilnya " + str (a + b) + "6" * 3)

Hasilnya 10666

In [1]:
for huruf in 'Dicoding':  # Contoh pertama
    print('Huruf: {}'.format(huruf))

flowers = ['mawar', 'melati', 'anggrek']
for flower in flowers:  # Contoh kedua
    print('Flower: {}'.format(flower))

Huruf: D
Huruf: i
Huruf: c
Huruf: o
Huruf: d
Huruf: i
Huruf: n
Huruf: g
Flower: mawar
Flower: melati
Flower: anggrek

In [2]:
for i in range(0, 6):
    for j in range(0, 6 - i):
        print('*', end='')
    print()

******
*****
****
***
**
*

In [3]:
for i in range (0,10):
    for j in range (0,10):
        if j>i:
            print()
            break
        else:
            print("*",end="")

*
**
***
****
*****
******
*******
********
*********
**********

In [4]:
list_a = range(1,10,2)
x = [ [a**2, a**3] for a in list_a]
print(x)

[[1, 1], [9, 27], [25, 125], [49, 343], [81, 729]]

In [6]:
def penjumlahan(a, b):
    a+b

hasil = penjumlahan(10, 10)
print(hasil)

None

In [7]:
def cetak(param):
    print(param)
    return

cetak("Dicoding Indonesia")

Dicoding Indonesia

In [7]:
class Kalkulator:
    """contoh kelas kalkulator sederhana"""
    i = 12345

    def f(self):
        return 'hello world'

k = Kalkulator()
print(k.f())

hello world

In [1]:
a=3; print(float(a))

3.0

In [2]:
x = [10,15,20,25,30]
print(x[-3:])

[20, 25, 30]

In [3]:
d = "Dicoding"
d[3]

'o'

In [5]:
x = 'hello'
print(type(x))

<class 'str'>

In [6]:
x = 300
str(x).zfill(5)

'00300'

In [2]:
print(6*2-5/(1+4)+3**2)

20.0

In [1]:
number=10
if number > 11: 
  print(0)
elif number != 10:
  print(1)
elif number >= 20 or number < 12:
  print(2)
else:
  print(3)

2

In [3]:
print("A dog" < "A mouse")
print(9999+8888 > 100*100)

True
True

In [4]:
print("blue" == "Blue")

False

In [5]:
n = 4
if n*6 > n**2 or n%2 == 0:
    print("Check")

Check

In [6]:
def greater_value(x, y):
    if x > y:
        return x
    else:
       return y


print(greater_value(10,3*5))

15

In [10]:
print((24 == 5*2) and (24 > 3*5) and (2*6 == 12))

False

In [8]:
x = 5*2
((10 != x) or (10 > x))

False

In [11]:
def sum(x, y):
        return(x+y)
print(sum(sum(1,2), sum(3,4)))

10

In [12]:
test_num = 12
if test_num > 15:
    print(test_num / 4)
else:
    print(test_num + 3)

15

In [13]:
print("blue" == "Blue")

False

In [14]:
x = 0
while x < 5:
    print("Not there yet, x=" + str(x))
    x = x + 1
print("x=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
x=5

In [22]:
for n in range(10):
    print(n+n)

0
2
4
6
8
10
12
14
16
18

In [24]:
for x in range(1, 10, 3):
    print(x)

1
4
7

In [25]:
while number >= 5: # Complete the while loop condition
    print(number, end=" ")
    number -= 5 # Increment the variable

10 5

In [8]:
for outer_loop in range(2, 6+1):
    for inner_loop in range(outer_loop):
        if inner_loop % 2 == 0:
            print(inner_loop)

0
0
2
0
2
0
2
4
0
2
4

In [7]:
for x in range(1, 10, 3):
    print(x)

1
4
7

In [9]:
for sum in range(5):
    sum += sum
    print(sum)

0
2
4
6
8

In [1]:
Weather = "Rainfall"
print(Weather[:4])

Rain

In [4]:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
print(wardrobe)

{'shirt': ['red', 'blue', 'white'], 'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}

In [5]:
animal = "Hippopotamus"
print(animal[3:6])
print(animal[-5])
print(animal[10:])

pop
t
us

In [6]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
print(colors)

['red', 'white', 'yellow', 'blue']

In [7]:
teacher_names = {"Math": "Aniyah Cook", "Science": "Ines Bisset", "Engineering": "Wayne Branon"}
teacher_names.values()

dict_values(['Aniyah Cook', 'Ines Bisset', 'Wayne Branon'])

In [8]:
def format_address(address_string):

    house_number = ""
    street_name = ""

    # Separate the house number from the street name.
    address_parts = address_string.split()

    for address_part in address_parts:
        # Complete the if-statement with a string method.  
        if address_part.isnumeric():
            house_number = address_part
        else:
            street_name += address_part + " "
    # Remove the extra space at the end of the last "street_name".
    street_name = street_name.strip()

# Use a string method to return the required formatted string.
    return "House number {} on a street named {}".format(house_number,street_name)
print(format_address("123 Main Street"))
# Should print: "House number 123 on a street named Main Street"


print(format_address("1001 1st Ave"))
# Should print: "House number 1001 on a street named 1st Ave"


print(format_address("55 North Center Drive"))
# Should print "House number 55 on a street named North Center Drive"

House number 123 on a street named Main Street
House number 1001 on a street named 1st Ave
House number 55 on a street named North Center Drive

In [9]:
car_make = "Lamborghini"
print(car_make[3:-5])
print(car_make[-4:])
print(car_make[:7])

bor
hini
Lamborg

In [10]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
print(colors)

['red', 'white', 'yellow', 'blue']

In [11]:
teacher_names = {"Math": "Aniyah Cook", "Science": "Ines Bisset", "Engineering": "Wayne Branon"}
teacher_names.values()

dict_values(['Aniyah Cook', 'Ines Bisset', 'Wayne Branon'])

In [1]:
for sum in range(5):
    sum += sum
    print(sum)

0
2
4
6
8

In [2]:
num1 = 0
num2 = 0

for x in range(5):
    num1 = x
    for y in range(14):
        num2 = y + 3

print(num1 + num2)

20